<html>
    <head>
        <title>{{company}}</title>
        <link rel ='stylesheet' href = '../static/style/figures.css'>
        
    </head>
<body>
    <nav>
        <a href = '/'><button> < Back </button></a>
        <form action = '/candleStickChart' method = 'GET' class = 'choose'>
            <select name = "company" id = "searchInput" required>
                <option value="" disabled selected>Select another company...</option>
                        {%for row in options1 %}
                            {% if row[1] != company %}
                            <option value = {{row[1]}}>{{row[0]}}</option>
                            {% endif %}
                        {% endfor %}
            </select>
            <input type="submit" name = "" value = "Select" >
        </form>
        
    </nav>
    <h1 class = 'company'>{{company}}</h1>
<br>
    <div class = 'wrapper'>
        <p>Below is an accurate depiction of {{company}}'s stock price fluctuation. For more insights on {{company}}'s performance, select one type of analysis to run:
        </p>
            <br> 
        <div class = 'buttons'>
            <button id = 'pop' onclick = "openPopup()"> Technical </button>
            <form action = '/testing_ExpressFigures'>
                <button> Fundamental </button>  
            </form>
        </div> 
    </div>
    <form class = 'clear' action ="/candleStickChart">
        <input type="hidden" name ="company" value ={{company}}>
        <input type = "submit" value = "x Clear all filters"> 
    </form>
    <div class = 'figures'>
        {{ figure1 }}
        {{ figure3 }}
        {{ figure2 }}
    </div>

    <div class = 'popup' id = 'popup'>
        <h1>Technical Analysis</h1>
        <p> In order to run technical analysis, select at least one indicator:</p>
        <form action = "/candleStickChart" class = 'indicators'>
            <input type="hidden" name="company" value={{company}} />
            <div class = 'indicators-list'>
                <div class = 'item'> 
                    <input type="checkbox" id="Bollinger Bands" name="indicators" value="BB">
                    <label for="bollinger"> Bollinger Bands </label><br>
                </div>
                <div class = 'item'>
                    <input type="checkbox" id="RSI" name="indicators" value="RSI">
                    <label for="RSI"> RSI </label><br>
                </div>
                <div class = 'item'>
                    <input type="checkbox" id="MA" name="indicators" value="MA" onclick="appear('MA','window')">
                    <label for="ma"> Moving Average </label><br>
                    <input type = 'number' id ='window' name ='indicators_ma' min="2">
                </div>
                <div class ='item'>
                    <input type="checkbox" id="EMA" name="indicators" value="EMA" onclick="appear('EMA','ewindow')">
                    <label for="ema"> Exponential Moving Average </label><br>
                    <input type = 'number' id ='ewindow' name ='indicators_ema' min="2">
                </div>
                <div class ='item'>
                    <input type="checkbox" id="ATR" name="indicators" value="ATR">
                    <label for="atr"> Average True Range </label><br>
                </div>
            </div>
            <input type = 'submit' name = '' value ='Submit' class ='bttn' onclick = 'closePopup()'>
        </form>
        <br>
        <span onclick = 'closePopup()'>X Close </span>
    </div>
    <script>
        let popup = document.getElementById('popup');
        function openPopup(){
            popup.classList.add('open-popup')
            document.body.classList.add('low-opacity')
            appear("MA",'window'); appear('EMA','ewindow');
        }
        function closePopup(){
            popup.classList.remove('open-popup')
            document.body.classList.remove('low-opacity')
        }

        function appear(box, input){
            let check = document.getElementById(box);
            let window = document.getElementById(input);
            if(check.checked == true){window.style.display="flex"}
            else{window.style.display="none"}
        }
    </script>
</body>


</html>