<html>
    <head>
        <meta name = "viewport" content="width = device-width, initial-scale = 1.0">
        <title> Stem Co.</title>
        <link rel = "stylesheet" href = "{{ url_for('static', filename='style/style.css') }}">
    </head>
    <body>
        <section class = "header">
            <img src="{{ url_for('static', filename='assets/Ellipse 4.png') }}" class ="leftmost" />

            <nav>
                <a href = "#why"><img src="{{ url_for('static', filename='assets/stemco 1.png') }}"></a>
                <div class = "nav-links">
                    <ul>
                        {% if g.user %}
                            <li> <a href ='/user'> User </a></li>
                        {% endif %}
                        <li> <a href = "#companies"> Stocks </a></li>
                        <li> <a href = "#contact"> Contact </a></li>
                    </ul>
                </div>
                {% if g.user %}
                <div class = "sign-in">
                    <ul>
                        <li> <h1> {{ g.user.get_username() }} </h1></li>
                        <li> {{ g.user.get_user_cash() }}</li>
                        <li><h1><a href = "/logout">Log out</a></h1>
                        </li>
                    </ul>
                </div>
                {% else %}
                <div class = "sign-in">
                    <ul>
                        <li> <a href = ""> Join as Guest </a></li>
                        <li> <a href = "/login"> <span class ="log">Sign In</span> </a></li>
                    </ul>
                </div>
                {% endif %}
            </nav>
            <img src ="{{ url_for('static', filename='assets/80.png') }}" class = "abab"/>
            <img src="{{ url_for('static', filename='assets/81.png') }}" class= "abb"/>
            <img src="{{ url_for('static', filename='assets/Ellipse 3.png') }}" class ="bottom-right"/>
            <img src ="{{ url_for('static', filename='assets/Right Graphic.png') }}" class ="purple"/>
            <img src="{{ url_for('static', filename='assets/bars.png') }}" class = "bars"/>
            <img src="{{ url_for('static', filename='assets/Trendline.png') }}" class = "trendline"/>
           
            <div class = "text-box">
                <h1><span class="fin">Financial analysis </span>has <br>never been easier</h1>
                <p>Stem Co. is a financial platform that analyzes popular <br> stocks in the market through a large set of tools and<br> charts.</p>
                {% if not g.user %}
                <br> <br> <a href ="/register" class="hero-btn">Sign Up</a>
                {%endif%}
            </div>
            

        </section>

        <!-- Why Stem Co?-->
        <section class = "why" id = 'why'>
            <p class = "whystemco">Why Stem Co?</p>
            <p class="first"> Our guiding principle is to help users make sound and <br>informed decisions. Explore key features of our product <br> and never regret an investment again!</p>
            <div class="row">
                <div class = "whycol">
                    <img src = "{{ url_for('static', filename='assets/Other 06.png') }}"/>
                    <h3>Analysis</h3>
                    <p>We offer cutting-edge analysis and insights to guide you in your next purchase</p>
                </div>
                <div class = "whycol">
                    <img src="{{ url_for('static', filename='assets/Other 13.png') }}"/>
                    <h3>Charting</h3>
                    <p>Run numerous indicators and charting techniques on your desired stocks</p>
                </div>
                <div class = "whycol">
                    <img src="{{ url_for('static', filename='assets/Other 02.png') }}"/>
                    <h3>Portfolio</h3>
                    <p>Build your own portfolio and receieve personalized reports </p>
                </div>
            </div>
            <img src="{{ url_for('static', filename='assets/Ellipse 2.png') }}" class ="bottomellipse"/>
            <img src="{{ url_for('static', filename='assets/Lines.png') }}" class = "line"/>
            <img src ="{{ url_for('static', filename='assets/Right Graphic2.png') }}" class ="rg2"/>
        </section>
        <section class = "companies" id = 'companies'>
            <p class = "ourcompanies">Our Companies</p>
            <p class ="txt">The stocks our platform offers encompass all companies<br> enlisted in the Dow Jones Index. Get started and select a <br>company of your choice.</p>
            <div id = container>
                <form action = '/candleStickChart' method = 'GET'>

                <div class = "searchbutton">
                    <select name = "company" id = "searchInput" required>
                        <option value="" disabled selected>Select a company...</option>
                        {%for row in options1 %}
                        <option value = {{row[1]}}>{{row[0]}}</option>
                        {% endfor %}
                     </select>
                 <!--   <input type="text" id="searchInput" placeholder="Select a company..">-->
                    <input type="submit" name = "" value = "Select" >
                </form>
                </div>            
                <img src ="{{ url_for('static', filename='assets/bigstem.png') }}" id = "bigstem">
            </div>
            
        </section>
        <hr>
        <section class = "contact" id = 'contact'>
            <h1> Get in touch!</h1>
            <p id = "firstp">Any question, feedback, or remark? Do not <br> hesitate to contact us!</p>
            <div id = "row">
                <div id = "column"> 
                    <h3>Ibrahim <br>El Hajj</h3>
                    <p>iye03@mail.aub.edu</p>
                </div>
                <div id = "column"> 
                    <h3> Mohamad <br>Mohammadieh</h3>
                    <p>mym14@mail.aub.edu</p>
                </div>
                <div id = "column"> 
                    <h3>Mohammad <br>Shayto</h3>
                    <p>mhs80@mail.aub.edu</p>
                </div>
                <div id = "column"> 
                    <h3>Hussein<br> Taan</h3>
                    <p>hst06@mail.aub.edu</p>
                </div>
            </div>
        </section>
        
    </body>
</html>