<!doctype html>
<html><head>
   <meta charset="UTF-8">
   <title> Register</title>
   <link rel ="stylesheet" href = "{{ url_for('static', filename='style/styleform.css') }}">
</head>
   <body>
      <div class = "container">
         <div class = "title">Let's get started!</div>
         <br>
         <div class = info>
            <form action = '' method="POST">
               <div class = "user-details">
                  <div class =  "input-box">
                     <span class = "details"> Username</span>
                     <input type="text" name = username placeholder = "Enter username..." required>    
                  </div>
                  <div class =  "input-box">
                     <span class = "details"> Password</span>
                     <input type="password" name = pass placeholder = "Enter passsword..." required> 
                  </div>
   
               </div>
               <div class = "button">
                  <input type = "submit" value = "Login" name = "registration" />
               </div>
            </form>
            {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
         </div>
            
      </div>
   </body>
</html>