<!doctype html>
<html><head>
   <meta charset="UTF-8">
   <title> Register</title>
   <link rel ="stylesheet" href = "./style/styleform.css">
</head>
   <body>
      <div class = "container">
         <div class = "title">Let's get started!</div>
         <br>
         <form action = '' method = "POST">
            <button type="button" class="login-with-google-btn" >
               Continue with Google
             </button>
            
         </form>
         <div class = info>
            <form action = '' method="POST">
               <div class = "user-details">
                  <div class =  "input-box">
                     <span class = "details"> Username</span>
                     <input type="text" name = username placeholder = "Enter username..." required>    
                  </div>
                  <div class =  "input-box">
                     <span class = "details"> Password</span>
                     <input type="text" name = pass placeholder = "Enter passsword..." required> 
                  </div>
   
               </div>
               <div class = "button">
                  <input type = "submit" value = "Login" name = "registration" />
               </div>
            </form>
         </div>
            
      </div>
   </body>
</html>