@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan';

}

h1{
    padding-top: 20px;
    text-align: center;
    font-family: 'Jost';
}

.company{
    font-size: 40px;
}

.company:after{
    content: '';
    width: 101px;
    height: 8px;
    background: linear-gradient(250.46deg, #8468F5 72.09%, #EC74E7 352.57%);
    mix-blend-mode: normal;
    opacity: 0.31;
    border-radius: 4px;
    display: block;
    margin-left: 46.5%;
}

.wrapper{
    text-align: center;
}

p{
    font-family: 'Roboto';
    font-size: 20px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.buttons button{
    border: 0px;
    background: linear-gradient(87.86deg, #EC74E7 -45.12%, #8468F5 74.37%);
    border-radius: 30px;
    color: white;
    width: 192px;
    height: 53px;
    text-align: center;
    font-family: 'Jost';
    font-size: 20px;
    font-weight: 400;
}

button:hover{
    background: #8468F5;
    font-weight: 700;
    cursor: pointer;
}

.buttons input{
    width: 192px;
    height: 53px;
    font-size: 20px;
    border-radius: 30px;
    text-align: center;
    background: #fafafa;  
}

nav{
    padding-left: 30px;
    padding-top: 20px;
    display:flex;
    gap: 30px;
}

nav button{
    border: 0px;
    background: #8468F5;
    border-radius: 25px;
    color: white;
    width: 100px;
    height: 40px;
    text-align: center;
    font-family: 'Jost';
    font-size: 18px;
    font-weight: 400; 
}

.figures{
    display: flex;
    flex-direction: column;
    

}

.choose{
    display: flex;
    gap: 10px;
    
}

.choose input{
    border: 0px;
    border-radius: 20px;
    width: 100px;
}

.popup{
    visibility: hidden;
    width: 800px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0 30px 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.open-popup{
    visibility: visible;
}

.popup .indicators{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup .indicators-list{
    padding-top: 10px;
    padding-bottom: 10px;
}
.popup .item{
    padding: 10px 20px;
}

.popup .bttn{
    border: 0px;
    background: #8468F5;
    border-radius: 25px;
    color: white;
    width: 100px;
    height: 40px;
    text-align: center;
    font-family: 'Jost';
    font-size: 18px;
    font-weight: 400; 
}

.popup .bttn:hover{
    background: #623df5;
    cursor: pointer;    
}

.popup span{
    cursor: pointer;
     color:red;
    }

.low-opacity{
    opacity: 1
}

.clear{
    padding-left: 90px;
}
.clear input{
    border-radius: 30px;
    border: none;
    cursor: pointer;
    padding: 10px 40px;
}

.analysis-flex{
    display: flex;
    gap: 40px;

}

.vl{
    margin-top: 3%;
    height: 280px;
    margin-bottom: 3%;
    border-left: 6px solid #8468F5;
    mix-blend-mode: normal;
    opacity: 0.31;
    border-radius: 60px;
}

.popup span{
    position: absolute;
    margin-left: -420px;
    margin-top: 10px;   
}

.sell{
    padding: 20px 90px;
    font-size: 20px;
}

.sell button, .sell input{
    padding: 10px 20px;
    border-radius: 30px;
    border: 0px;
}

.sell input{
    background: #fafafa;
    border: 1px solid grey;
}

.flash{
    color:red;
    font-size:18px;
}